<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919443789514-bsdlut7vi6pp4a30cm4ji7b0s6kh2j8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919443789514-bsdlut7vi6pp4a30cm4ji7b0s6kh2j8s</string>
	<key>API_KEY</key>
	<string>AIzaSyDAD7qezYQFTg7zhh_ONuL34MsZ1h1cJmY</string>
	<key>GCM_SENDER_ID</key>
	<string>919443789514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.libApp</string>
	<key>PROJECT_ID</key>
	<string>libapp-63b8e</string>
	<key>STORAGE_BUCKET</key>
	<string>libapp-63b8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919443789514:ios:9d0cbcc891291bb399c633</string>
</dict>
</plist>